<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header class="Bli-1">
        <h1>Blibliotheque</h1>
    </header>
      <main>
          <section class="Retour">
              <div class="Acceuil">
                 <a href="../index.html"><h3>Retour a l'Acceuil</h3></a> 
              </div> 
          <section class="chapt-1">
         <div class="livre_1">
            <h2>php</h2>
           <img src="../assets/img/9782212673609_internet_b400x400.jpg" alt="js">
         </div>
         <div class="imp">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet est venenatis, 
                dapibus enim vel, efficitur nisi. Donec et arcu quam. Phasellus id faucibus augue. Donec eget odio eu mauris elementum faucibus. 

                Curabitur iaculis mollis ligula ut convallis. Curabitur dignissim, nulla non efficitur fermentum, leo felis lobortis diam, quis posuere magna ipsum nec leo. Nullam euismod nunc a magna ultricies, ultrices efficitur enim efficitur. et.
                Sed euismod ultricies ipsum quis hendrerit. Integer vitae accumsan purus. Nullam ultrices a erat non interdum. 
                
                Etiam facilisis velit non eros dictum consectetur. Praesent vel nibh et metus laoreet commodo. 
                Morbi varius ante vehicula enim luctus bibendum. Phasellus lacinia ultrices posuere. 
                
                In lacus magna, pellentesque id nibh sed, porttitor consectetur massa. In vestibulum nisi non euismod rutrum. 
                
                Praesent pretium ullamcorper scelerisque.
                Proin ac rutrum massa. Quisque eleifend orci nec diam blandit, et ornare purus feugiat. 
                
                Nunc nec dolor ultricies tellus vulputate commodo non ut metus. Cras egestas dignissim enim, non lacinia enim hendrerit id. 
                </p>
         </div>
</body>
</html>