td.jaune{
    background-color: yellow;
    border: solid 2px black;
    
}
td{
    width: 1%;
    height: 50px;
}
table{
    margin: auto;
    border-collapse: collapse;
    width: 65%;
}
#e{
    position: relative;
}
.gray{
    background-color: gray;
    border: solid 2px black
}
.white{
    background-color: white;
    border: solid 2px black;
}
.black{
    background-color: black;
    border: solid 2px black;
}
.blue{
    background-color: blue;
    border: solid 2px black;
}
.blanc{
    background-color: white;
   

}
.x{
   float: left;
}
.mad{
    background-position-x: right;
}
tbody{
    margin: 0;
    padding: 0;
}























































































































