#container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 20% 40%;
    margin: auto;
    height: 230vw;
}
.text{
    font-size: 50px;
    color: white;
}
.purple{
    background-color: purple;
}
.dark-cyan{
    background-color: darkcyan;
}
.cyan{
    background-color: cyan;
}