.d1{
    padding: 10%;
    float: left;
    background-color: blue;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.d2{
    padding: 10%;
    float: left;
    background-color: green;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.d3{
    padding: 10%;
    float: left;
    background-color: blue;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.d4{
    padding: 10%;
    float: left;
    background-color: green;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.clearfix{
    clear: both;
}
.d5{
    padding: 10%;
    float: left;
    background-color: green;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.d6{
    padding: 10%;
    float: left;
    background-color: blue;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.d7{
    padding: 10%;
    float: left;
    background-color: green;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid
}
.d8{
    padding: 10%;
    float: left;
    background-color: blue;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid;
}
.d9{
    padding: 10%;
    float: left;
    background-color: green;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid
}
.d10{
    padding: 10%;
    float: left;
    background-color: green;
    border-radius: 30px;
    margin: 3px;
    border: black;
    border: solid
}